.container{
    /* margin-top: 4rem; */
}


.subContainer{
  
}


.product{
    background-color: #f552000c;
    padding: 1.5rem;
    margin-bottom: 1rem;
    
}
.prodName{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.prodDelivery{
    font-size: .9rem;
}

.prodSaver{
    color: green;
    font-weight: bold;
}

.price {
    font-weight: bold;
    font-size: 1.1rem;
}

.discount{
    color: gray;
    margin: 0px 15px;
}
.off{
    font-weight: bold;
    color: green;
}
.prodDescTitle{
    font-weight: bold;
    font-size: .9rem;
    margin-top: 10px;
}
.prodDescPara{
    font-size: .9rem;
}

.buttonGroup{
    margin: 10px 0px;
}
.button{
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
    transition: .3s;
}

.addToCartBtn{
    margin-right: 10px;
    background-color: #ff9f00;
}
.addToCartBtn:hover{
    margin-right: 10px;
    background-color: #c27800;
    box-shadow: 1px 1px 50px #c27800;
}


.buyNowBtn{
    background-color: #fb641b;
}
.buyNowBtn:hover{
    background-color: #a73800;
    box-shadow: 1px 1px 50px #a73800f1;
}