/* NavBar Styling  */
.navContainer{
    background-color: #0672D1;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    
}


.navFirstChild, .navLinkContainer{
    display: flex;
}

.navLinkContainer{
    /* background-color: yellow; */
    min-width: 80%;
    justify-content: end;
    
}

.navFirstChild{
    /* background-color: aqua; */
    min-width: 1080px;
    max-width: 1080px;
    justify-content: space-between;
    color: white;
}

.navLogo{
    font-weight: bold;
    color: white;
    cursor: pointer;
}



.activeLink{
    font-weight: bold;
    color: orangered;
    text-decoration: none;
    font-size: .9rem;
}

.cartCount{
    background-color: green;
}

.navLink{
    /* color: white; */
    text-decoration: none;
    font-size: .9rem;
}

.NavLink{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

@media screen and (max-width : 768px){
    .navFirstChild{
        /* background-color: aqua; */
        min-width: 98%;
        max-width: 98%;
    }
}